@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class=display-1>Shelve</h1>
    <h4>What is shelve?</h4>
    <p class="lead">Shelve, is the new online library givng discounted access to a plethora of new and classic books and magazines.</p>
    <div class="row">
        <div class="col">
            <p> With Shelve book club you can have access to a customizable book drop each month featuring a handful of books that just like a library can be returned on request or you can keep them forever for a small fee.</p>
        </div>
        <div class="col">
            <p>Alternatively, like your every day book shop we have thousands of books on offer at regular and discounted high street prices. We provide members with a 1 day return guarentee to allow you to figure out whether the book you buy, is really for you.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p> With Shelve book club you can have access to a customizable book drop each month featuring a handful of books that just like a library can be returned on request or you can keep them forever for a small fee.</p>
        </div>
        <div class="col">
            <p>Alternatively, like your every day book shop we have thousands of books on offer at regular and discounted high street prices. We provide members with a 1 day return guarentee to allow you to figure out whether the book you buy, is really for you.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p> With Shelve book club you can have access to a customizable book drop each month featuring a handful of books that just like a library can be returned on request or you can keep them forever for a small fee.</p>
        </div>
        <div class="col">
            <p>Alternatively, like your every day book shop we have thousands of books on offer at regular and discounted high street prices. We provide members with a 1 day return guarentee to allow you to figure out whether the book you buy, is really for you.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="~/img/books/animal-farm.jpg" />
        </div>
        <div class="col">
            <img src="~/img/books/charlottes-web.png" />
        </div>
        <div class="col">
            <img src="~/img/books/james-and-the-giant-peach.jpg" />
        </div>
        <div class="col">
            <img src="~/img/books/harry-potter-and-the-philosophers-stone.jpg" />
        </div>

        
        
        
        
    </div>
</div>